<div class="container">
  <h1>Todo List</h1>
  <div class="inputarea">
    <!-- 雙向綁定：[(ngModel)],將輸入框的值與 newTodo 屬性綁定-->
    <input type="text" placeholder="請輸入代辦事項" [(ngModel)]="newTodo" />
    <button (click)="addTodo()" class="addBtn">新增</button>
  </div>
  <ul>
    <li *ngFor="let todo of todos">
      <!-- 屬性綁定:[checked],綁定選到的那筆資料 -->
      <!-- 事件綁定：(change) -->
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleCompleted(todo)"
        class="checkTodo"
      />
      <span [class.completed]="todo.completed">{{ todo.text }}</span>
      <button (click)="deleteTodo(todo)" class="deleteBtn">刪除</button>
    </li>
  </ul>
</div>
